doctype html
html
   head
      title 新增任务
      link(rel='stylesheet', href='/styles/task.css')
      script(type="text/javascript") var _config = !{config};
      script(type='text/javascript', src='http://g.alicdn.com/ilw/ding/0.8.2/scripts/dingtalk.js')
      script(type='text/javascript', src='http://g.alicdn.com/ilw/cdnjs/jquery/2.1.4/jquery.min.js')
      script(type='text/javascript', src='/js/fastclick.js')
      script(type='text/javascript', src='/js/add.js')
      
      meta(name="apple-mobile-web-app-capable" content="yes")
      meta(meta name="apple-mobile-web-app-status-bar-style" content="black")
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
      meta(name="format-detection" content="telephone=no")
      meta(name="author" content="颜浩")
   
   body
     div.doc
       div.task-add#task-add
          div.cells.cells-from
            div.cell
              div.cell-hd
                label.label 任务名称
              div.cell-bd.cell-primary
                input.input(type="text" id='missionName' placeholder='请输入')
            div.cell
              div.cell-hd
                label.label 任务描述
              div.cell-bd.cell-primary
                input.input(type="text" id='description' placeholder='请输入')
            div.cell
              div.cell-hd
                label.label 用户
              div.cell-bd.cell-primary
                input.input(type="text" id='owner' placeholder='请输入已有用户')
            div.cell
              div.cell-hd#workid
                label.label 派遣
              div.cell-bd.cell-primary
                input.input(type="text" id='work' placeholder='可选（点击左侧派遣员弹出联系人')
                